{% extends "ChmDocumentBundle:DocumentUpload:documentUploadLayout.html.twig" %}

{% block title %}ChmDocumentBundle:DocumentUpload:edit{% endblock %}

{% block h1 %}
Documents a telecharger
{% endblock %}

{% block body %}
<p>
Les telechargements anonymes ne sont possibles qu'a partir de liens directs.
</p>
{% if is_granted('ROLE_USER') %}
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Slug</th>
			<th>Valid ?</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for document in documents %}
		<tr class="{% if document.isDownloadable  %}success{% else %}error{% endif %}">
		    <td>{{ document.slug }}</td>
		    <td>{{ document.valid }}</td>
		    <td>
		        <a class="btn btn-default" href="{{ path('chm_document_download', {'slug': document.slug}) }}">
		        	<i class="icon-download"></i>
		        	Download
		        </a>
		    </td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% else %}
<p>
	<a href="{{ path('fos_user_security_login') }}">Connectez-vous</a> pour visualiser la liste des fichiers que vous pouvez telecharger.
</p>
{% endif %}
{% endblock %}
