<ul class="list-inline">
	{% if document.dateRestrictions is not empty %}
	<li>
		<span class="chm_popover icon-stack" title="Date restrictions" data-content="{% include 'ChmDocumentBundle:DocumentUpload:date_restrictions_popover_content.html.twig' with {'restrictions': document.dateRestrictions } %}">
            <i class="icon-circle icon-stack-base"></i>
            <i class="icon-calendar icon-light"></i>
		</span>
	</li>
	{% endif %}
	{% if document.ipRestrictions is not empty %}
	<li>
		<span class="chm_popover icon-stack" title="IP restrictions" data-content="{% include 'ChmDocumentBundle:DocumentUpload:ip_restrictions_popover_content.html.twig' with {'restrictions': document.ipRestrictions } %}">
            <i class="icon-circle icon-stack-base"></i>
            <i class="icon-sitemap icon-light"></i>
		</span>
	</li>
	{% endif %}
	{% if document.downloadCountRestrictions is not empty %}
	<li>
		<span class="chm_popover icon-stack" title="Download count restrictions" data-content="{% include 'ChmDocumentBundle:DocumentUpload:download_count_restrictions_popover_content.html.twig' with {'restrictions': document.downloadCountRestrictions } %}">
            <i class="icon-circle icon-stack-base"></i>
            <i class="icon-dashboard icon-light"></i>
	</li>
	{% endif %}
	{% if document.userRestrictions is not empty %}
	<li>
		<span class="chm_popover icon-stack" title="User restrictions" data-content="{% include 'ChmDocumentBundle:DocumentUpload:user_restrictions_popover_content.html.twig' with {'restrictions': document.userRestrictions } %}">
            <i class="icon-circle icon-stack-base"></i>
            <i class="icon-user icon-light"></i>
		</span>
	</li>
	{% endif %}
	{% if document.secretRestrictions is not empty %}
	<li>
		<span class="chm_popover icon-stack" title="Secret restrictions" data-content="{% include 'ChmDocumentBundle:DocumentUpload:secret_restrictions_popover_content.html.twig' with {'restrictions': document.secretRestrictions } %}">
            <i class="icon-circle icon-stack-base"></i>
            <i class="icon-key icon-light"></i>
		</span>
	</li>
	{% endif %}
</ul>
