{% extends "ChmDocumentBundle:DocumentUpload:documentUploadLayout.html.twig" %}


{% block _chm_bundle_documentbundle_document_slug_row %}
	<div class="form_row">
		{% if value is defined and value is not empty %}
		<a href="{{ path( 'chm_document_download', { slug: value } ) }}">
			Current file
		</a>
		{% endif %}
	</div>
{% endblock _chm_bundle_documentbundle_document_slug_row %}

{% block title %}ChmDocumentBundle:DocumentUpload:edit{% endblock %}

{% block body %}
	{% form_theme form _self %}

	{{ form(form) }}
{% endblock %}
