{% extends "::base.html.twig" %}

{% block title %}ChmDocumentBundle:DownloadDocument:download{% endblock %}

{% block body %}
<h1>Welcome to the DownloadDocument:download page</h1>
<p>
	Here is the document slug: {{ document_slug }}
</p>
{% endblock %}
